body {
	padding:0;
	margin:0;
	font-family: 'Consolas';
}

#app{
	display: block;
	margin: 100px auto;
	width:450px;
	padding:15px 0;
}
.app-title{
	text-align: center;
	font-size:55px;
	color:rgba(212,59,59,0.4);
}
.app-body {
	border:1px solid rgba(165,162,162,0.5);
	border-radius:4px;
	box-shadow: 0 0 40px 0px #d4cbcb;
}

/*输入框*/
.input-new-task{
	padding:10px 0;
	border-bottom:1px solid rgba(165,162,162,0.3);
}
.icon-drop{
	padding:0 14px;
}
.input{
	outline:none;
	font-size:20px;
	font-style:italic;
	width:395px;
	border:none
}
::-webkit-input-placeholder{
	color:#bbb;
}

/*任务列表*/
.task-item{
	padding:10px 0;
	font-size:20px;
	border-bottom:1px solid rgba(165,162,162,0.3);
}
.task-content{
	width:345px;
	display: inline-block;
}
.icon-finished{
	padding:0 14px;
	color:#10bb55;
	font-size:16px;
}
.icon-deleted{
	padding:0 10px;
}
.icon-deleted{
	color:transparent
}
.task-item:hover .icon-deleted{
	color:rgba(212,59,59,0.4)
}
.task-content{
	white-space: pre-wrap;
	word-wrap:break-word;
	word-break: break-all;
}
.task-list .finished .task-content{
	text-decoration: line-through;
}
.task-list .unfinished .icon-finished{
	visibility: hidden;
}
.task-list>.show {
	display: block;
}
.task-list>.hide {
	display: none;
}


/*底部按钮组*/
.footer{
	padding:10px 0;
	font-size:13px;
	color:rgba(0,0,0,0.8);
	display: flex;
	justify-content: space-between;
}
.rest-task{
	margin-left:14px;
}
.btn-wrapper{
	display: inline-block;
}
.btn-wrapper .btn{
	background:none;
	border-radius:1px;
	border:none;
	outline:none;
	margin:0 5px;
	padding:3px 5px;
	box-sizing: border-box;
	color:rgba(0, 0, 0, 0.8)
}
.btn-wrapper .actived{
	border:0.5px solid #f3c2c2;
}
.btn-wrapper .btn-all{
	width:25px;
}
.btn-wrapper .btn-active{
	width:47px;
}
.btn-wrapper .btn-completed{
	width:75px;
}
.icon,.btn{
	cursor:pointer;
}

.rest-task{
	word-spacing: -4px;
	margin-right:26px;
}

